@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alkatra&family=Noto+Sans:wght@200&family=Roboto:wght@300;400&family=Sassy+Frass&family=Ubuntu:wght@300&display=swap');


body {

    color: white;
    font-family: 'Noto Sans', sans-serif;

}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}